<form [formGroup]="customerFormGroup">

    <form class="innerForm">
      <label>Name</label>
      <input type="text" formControlName="name" matInput>
    </form>

    <form class="innerForm">
      <label>Phone</label>
      <input type="number" formControlName="phone" matInput>
    </form>

    <form class="innerForm">
      <label>Email</label>
      <input type="email" formControlName="email" matInput>
    </form>

    <form class="innerForm">
      <label>Address</label>
      <input type="text" formControlName="address" matInput>
    </form>

    <form class="innerForm">
      <label>Gender</label>
      <input type="text" formControlName="gender" matInput>
    </form>

    <button (click) = "submitForm()" ></button>
  </form>